<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="URL" value="https://www.radioid.net/static/users.json"/>
    <!--Y/N value only-->
    <add key="AnyTone" value="N"/>
    <add key="TYT-UV" value="N"/>
    <!--Manually filter your csv to just under 10k until I or someone builds something for filtering.-->
    <add key="GD-77" value="Y"/>
  </appSettings>
</configuration>